.card-preview{
    display: flex;
    flex-wrap: wrap;
    width:95%;
    padding: 1rem;
    align-items: center;
    justify-content:space-evenly;
    .ant-card-bordered{
        margin: .5rem;
    }
}




 

  

