.job-card {
  padding: 30px 16px;
  margin:1rem;
  background-color: white;
  height: 15rem;
  border-radius: 8px;
  width: 26rem;
  transition: 0.2s;
  position: relative;

  .job-card-title {
      font-weight: bold;
    }
  .job-card-subtitle {  
      color: #dedede;
      color: black;
    }
  .detail-button {
    background-color: #e1ebfb;
    color: #005493;
    font-size: 13px;
    font-weight: 500;
    padding: 2px 8px;
    border-radius: 4px;
  }
  .job-card .job-card-subtitle,
  .job-card .job-day {
    color: #dedede;
  }
  .job-card-subtitle{
      span{
          color:blue;
          cursor:pointer;
      }
      
  }
  .card-buttons {
    margin-right: 12px;
    color: #fff;
    display: inline;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .card-buttons,
  .card-buttons-msg {
    padding: 6px;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
  }
  .search-buttons {
    border: none;
   margin-right: 0.4rem;
    background-color: #005493;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 14px
    span{
        width:.2rem
    }
  }
  .detail-button {
    background-color: #e1ebfb;
    color: #005493;
    font-size: 13px;
    font-weight: 500;
    padding: 2px 8px;
    border-radius: 4px;
}
}

#root > div > div > div > div:nth-child(4) > button:nth-child(3) > span{
    padding-right: 1rem;
    svg{
        width:1rem
    }
}
